@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AspNet em MVC</h1>
    <p>Aprenda sobre <a href="https://learn.microsoft.com/pt-br/dotnet/core/whats-new/dotnet-6">ASP.NET 6</a>,
    com <a href="https://developer.mozilla.org/en-US/docs/Glossary/MVC">Designer Pattern MVC</a>.</p>
</div>
